<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/normalize.css">
<link rel="stylesheet" href="../static/skeleton.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
<link rel="stylesheet" href="../static/main.css">
<body>
    <div class="container">
            <div class="twelve columns">
              <div class="eight columns offset-by-two">
                  <h2> Enter the url to be tested!</h2>
                  <form action = "post">
                      <input type="text" placeholder="https://facebook.com" name="input" id = "text"><br>
                      <input type="button" value="Submit!" id = "button">
                  </form>
              </div>
            </div>
        </div>
</body>
</html>