<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/normalize.css">
<link rel="stylesheet" href="../static/skeleton.css">
<link rel="stylesheet" href="../static/main.css">
<body>
    <div class="container">
        <div class = "twelve columns">
            <div id = "realpercentage" class = "three columns offset-by-two">
                60%
            </div>
            <div id = "realdescription" class = "five columns offset-by-one">
                description of what this means (how sure we are etc.)
            </div>
            <br>
            <br>
            <div id = "positivity" class = "eight columns offset-by-two">
                how positive or negative this is, or for shitposts, the key words that make us think it's a shitpost
            </div>
        </div>
    </div>
</body>