<!DOCTYPE HTML>
<head>

</head>

<link rel="stylesheet" href="../static/normalize.css">
<link rel="stylesheet" href="../static/skeleton.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
<link rel="stylesheet" href="../static/main.css">

<body>
        <div class="container">
                  <div class="twelve columns">
                    <div class="six columns offset-by-three" id = "as">
                        <h4 id = "tavo"> This website is safe! Dolan Trump shall not be watching over you tonight good sir or madam!</h4>
                    </div>
                  </div>
              </div>
</body>